@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Orbitron", sans-serif;
}

.heading {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 150, 200, 0.8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

.button:hover {
    background-color: rgba(0, 150, 200, 1);
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.label {
    color: white;
    font-size: 36px;
}

.input-field{
    border-radius: 7px;
    width: 150px;
    height: 30px;
}